@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}
input:focus {
  outline: none;
}
input {
  background-color: transparent;
}
::-webkit-input-placeholder {
  color: #545f7d;
  opacity: 60%;
}
::-webkit-scrollbar {
  width: 7px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 0.5em;
}
::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 100vw;
}
